RewriteEngine on

RewriteCond %{HTTP_HOST} ^fantager\.cz$
RewriteRule (.*) /www/$1 [L]

RewriteCond %{HTTP_HOST} ^www\.fantager\.cz$
RewriteRule (.*) /www/$1 [L]

RewriteCond %{HTTP_HOST} ^fantager$
RewriteRule (.*) /www/$1 [L]
