{% extends 'base.html.twig' %}

{% block layout_content %}
    {% include 'components/layout/navbar.html.twig' with { is_guest: true } %}

    <main class="public-main">
        {% include 'components/ui/flash_messages.html.twig' with { is_guest: true } %}

        {% block guest_body %}{% endblock %}
    </main>
{% endblock %}
