{# templates/components/community/js_templates.html.twig #}
<template id="template-forum-thread-row">
    <tr class="community-row">
        <td class="data-table__cell--title js-title-cell">
            <div class="data-table__title-row">
                <span class="lock-badge lock-badge--icon js-lock-icon hidden" title="{{ 'community.locked'|trans }}" aria-label="{{ 'community.locked'|trans }}">🔒</span>
                <span class="js-thread-title"></span>
            </div>
            <span class="category-badge js-thread-category"></span>
        </td>
        <td>
            <div class="data-table__author-row">
                <span class="team-color-dot js-author-color"></span>
                <span class="js-author-name"></span>
            </div>
        </td>
        <td class="data-table__col--center data-table__cell--numeric js-replies-count"></td>
        <td class="data-table__col--end data-table__cell--muted js-created-at"></td>
    </tr>
</template>

<template id="template-forum-post">
    <div class="community-post">
        <div class="community-post__header">
            <div class="data-table__author-row">
                <span class="team-color-dot js-author-color"></span>
                <strong class="community-post__author js-author-name"></strong>
            </div>
            <span class="js-created-at"></span>
        </div>
        <div class="community-post__body js-post-body"></div>
    </div>
</template>

<template id="template-community-empty-row">
    <tr>
        <td colspan="4" class="empty-state js-empty-text"></td>
    </tr>
</template>
