parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=innodb.endora.cz;dbname=fantager'
	user: fantager
	password: Fantager123


services:
	router: App\Router\RouterFactory::createRouter
