<div class="col-md-4 text-end text-md-start">
	<span class="font-uniq" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="{$rightOnline}">
		Online: {$statOnline}
	</span>
</div>
<div class="col-md-4 text-end text-md-center font-uniq">
	Aktivní: {$statActive}
</div>
<div class="col-md-4 text-end font-uniq">
	Nováčci: {$statWeekGrow}
</div>
