body * {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Courgette', cursive;
	/*font-family: 'Bree Serif', serif;*/
}

body {
	padding: 0;
	margin: 0;
	background: #131414;
	/*color: #fef9d9;*/
	color: #616f39;
	box-sizing: border-box;
	text-align: center;
	padding: 20px;
}

.page-content {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.offline_content {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
}

.offline_collumn {
	width: 50%;
	padding: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.offline_collumn:first-child {
	border-right: 1px solid #616f39;
}
.center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}


.content {

}

.main_title {
	text-shadow: 1px 1px 10px #7c3c21;
	padding-bottom: 50px;
	text-decoration: underline;

}



.shadow-box--green {
	box-shadow: 0 0 20px #616f39;
	border: 1px solid #616f39;
}
.shadow-text--brown {
	text-shadow: 1px 1px 10px #7c3c21;
}

.bg-black {
	background: #0C0C0C;
}
.bg-black_light {
	background: #131414;
}
.bg-brown {
	background: #7c3c21;
}
