body * {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Courgette', cursive;
	/*font-family: 'Bree Serif', serif;*/
}

body {
	padding: 0;
	margin: 0;
	background: #131414;
	/*color: #fef9d9;*/
	color: #616f39;
	box-sizing: border-box;
	text-align: center;
	padding: 20px;
}

.page-content {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: #0C0C0C;
	box-shadow: 0 0 20px #616f39;
	border: 1px solid #616f39;

	/*min-height: 150px;*/
}
.content {

}
