{# templates/components/notifications/js_templates.html.twig #}
<template id="template-notification-row">
    <tr class="notification-row">
        <td class="data-table__col--center"><span class="js-unread-indicator">🔔</span></td>
        <td class="notification-row__title js-title"></td>
        <td class="js-type copy-secondary copy-xs"></td>
        <td class="data-table__col--end js-created-at copy-muted copy-xs"></td>
    </tr>
</template>

<template id="template-notification-empty-row">
    <tr>
        <td colspan="4" class="notification-table__empty js-empty-text"></td>
    </tr>
</template>
