{# templates/components/notifications/js_templates.html.twig #}
<template id="template-notification-row">
    <tr class="notification-row">
        <td class="data-table__col--center"><span class="js-unread-indicator">🔔</span></td>
        <td class="js-title font-semibold"></td>
        <td class="js-type text-text-secondary text-xs"></td>
        <td class="data-table__col--end js-created-at text-text-muted text-xs"></td>
    </tr>
</template>

<template id="template-notification-empty-row">
    <tr>
        <td colspan="4" class="text-center text-text-muted py-8 js-empty-text"></td>
    </tr>
</template>
