{# templates/components/hq/compound_stats.html.twig #}
{% set hq = hq|default(null) %}
{% set team = team|default(null) %}

<div class="hq-stats-bar">
    <div class="hq-stats-bar__item">
        <span class="hq-stats-bar__item-label">{{ 'hq.compound_level'|trans }}</span>
        <span class="hq-stats-bar__item-value" data-hq-target="totalLevel">{{ hq.totalLevel }}</span>
    </div>
    <div class="hq-stats-bar__divider" aria-hidden="true"></div>
    <div class="hq-stats-bar__item">
        <span class="hq-stats-bar__item-label">{{ 'hq.active_optimization'|trans }}</span>
        <span class="hq-stats-bar__item-value hq-stats-bar__item-value--accent">{{ hq.raceOptimization ? ('heroes.race_' ~ hq.raceOptimization)|trans : 'dashboard.none'|trans }}</span>
    </div>
    <div class="hq-stats-bar__divider" aria-hidden="true"></div>
    {% include 'components/ui/roster_badge.html.twig' with { team: team } %}
</div>
