
/* SCSS HEX */
$eggshell: #f0ead2ff;
$pale-spring-bud: #dde5b6ff;
$olivine: #adc178ff;
$cafe-au-lait: #684F3Bff;
$umber: #181411ff;

/* SCSS RGB */
:root {
	--color-1-rgb: 240, 234, 210;
	--color-2-rgb: 221, 229, 182;
	--color-3-rgb: 173, 193, 120;
	--color-4-rgb: 104, 79, 59;
	--color-5-rgb: 24, 20, 17;

	--color-1: rgb(var(--color-1-rgb));
	--color-2: rgb(var(--color-2-rgb));
	--color-3: rgb(var(--color-3-rgb));
	--color-4: rgb(var(--color-4-rgb));
	--color-5: rgb(var(--color-5-rgb));

	--bs-bg-opacity: 1;
}


$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color-5: var(--color-5);

$eggshell: rgb(240, 234, 210);
$pale-spring-bud: rgb(221, 229, 182);
$olivine: rgb(173, 193, 120);
$cafe-au-lait: rgb(104, 79, 59);
$umber: rgb(24, 20, 17);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-right: linear-gradient(90deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-bottom: linear-gradient(180deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-left: linear-gradient(270deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-top-right: linear-gradient(45deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-bottom-right: linear-gradient(135deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-top-left: linear-gradient(225deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-bottom-left: linear-gradient(315deg, #f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);
$gradient-radial: radial-gradient(#f0ead2ff, #dde5b6ff, #adc178ff, #a98467ff, #6c584cff);


/* https://coolors.co/f0ead2-dde5b6-adc178-a98467-6c584c */
/* https://coolors.co/f0ead2-dde5b6-adc178-684f3b-181411 */

$color-bg: $color-5;
