{block content}
	<div class="w-100">
		<div class="row mb-3">
			<div class="col">
				<h2 class="color-3 font-uniq">Přihlášení</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-lg-6 text-start">
				{control signInForm}
			</div>
		</div>
	</div>
{/block}
