{* Bootstrap *}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{* Nette forms *}
<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{* Jquery *}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{* Naja - Nette ajax *}
<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>

{* owned JS *}
<script src="/js/all.min.js?v=0.6"></script>
