.log_form {
	text-align: left;
}

.log_input,
.log_input:focus,
.log_input:active,
.log_input:hover {
	 margin: 10px 0 30px 0;
	 width: 300px;
	 padding: 10px 20px;

	 color: #edf492;
	 font-size: 18px;
	 border: 0;
	 outline: 0;
 }

h2 {
	text-decoration: underline;
	margin-bottom: 40px;
}
